#github-ribbon {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
}
#msg {
	line-height: 13px;
	position: fixed;
	width: 260px;
	height: 28px;
	padding-top: 12px;
	left: 50%;
	margin-left: -130px;
	bottom: 0px;
	text-align: center;
	z-index: 500;
	background-color: #2e639e;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	color: #FFFFFF;
	font-size: 13px;
}
#msg div {
	display: inline-block;
}
#msg .word {
	font-weight: bolder;
	text-transform: uppercase;
}
#msg a {
	color: #FFFFFF;
	margin-left: 10px;
}
#msg a:hover {
	text-decoration: none;
}
#msg a:hover .word {
	text-decoration: underline;
}
#msg img {
	vertical-align: bottom;
}
#msg div.scroll {
	width: 12px;
	height: 13px;
	vertical-align: bottom;
	background-image: url("../img/demo_arrow_scroll.png");
}
iframe.twitter-follow-button {
	vertical-align: text-bottom;
	margin: auto auto -1px 8px;
}
div#content-wrapper {
	height: 100%;
	min-width: 900px;
	min-height: 500px;
}
html.touch div#content-wrapper {
	min-width: 700px;
}
.scrollContainer {
	overflow-y: scroll;
	overflow-x: hidden;
	min-width: 650px;
	width: 100%
}
.scrollContent {
	position: relative;
	/*height: 100%;*/
}
section {
	height: 100%;
}

section#start {

}
h1 {
	font-size: 80px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-weight: bold;
}

.spark {
	position: absolute;
}
.spark.s0 {
	background-image: url("../img/demo_spark1.png");
	width: 4px;
	height: 3px;
}
.spark.s1 {
	background-image: url("../img/demo_spark2.png");
	width: 6px;
	height: 6px;
}
.spark.s2 {
	background-image: url("../img/demo_spark3.png");
	width: 8px;
	height: 8px;
}
.spark.s3 {
	background-image: url("../img/demo_spark4.png");
	width: 11px;
	height: 11px;
}
.spark.s4 {
	background-image: url("../img/demo_spark5.png");
	width: 13px;
	height: 13px;
}
.spark.s5 {
	background-image: url("../img/demo_spark6.png");
	width: 17px;
	height: 17px;
}
.wand {
	position: absolute;
}
.sparkpoint {
	position: absolute;
}

/*START*/


#intro {
	display: block;
	width: 650px;
	height: 400px;
	top: 50%;
	left: 50%;
	margin: -200px auto auto -325px;
	position: absolute;
}
#intro h1 {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 135px;
	margin: 0;
}
#intro h1 span {
	position: relative;
}
#intro .tophat {
	position: absolute;
	bottom: 110px;
	left: 50%;
	margin-left: -144px;
}
#intro .floor {
	position: absolute;
	bottom: 50px;
	left: 50%;
	margin-left: -305px;
}
#intro .sparkpoint {
	top: 60px;
	left: 380px;
}

#tweens {
	height: auto;
	overflow: hidden;
}

#tweens h3 {
	text-align: center;
	font-size: 80px;
	margin: 0 auto 200px auto;
	position: relative;
}
#pin {
	width: 100%;
	overflow: hidden;
}
#pin h3 {
	font-size: 80px;
	text-align: center;
	margin: -40px 0 0 0;
	position: relative;
	top: 50%;
	line-height: 80px;
}
#pin #draw {
	width: 500px;
	height: 150px;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -250px;
	position: absolute;

}
#pin #draw path {
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
	stroke: #000000;
	stroke-width: 5;
}
#pin #wipe {
	height: 100%;
	width: 0%;
	top: 0;
	position: absolute;
	background-color: #2e639e;
	overflow: hidden;
}
#pin #wipe h3 {
	color: #FFFFFF;
}
#pin #slide {
	height: 100%;
	width: 100%;
	top: -100%;
	position: absolute;
	background-color: #c7e1ff;
}
#pin #slide h3 {
	position: absolute;
	width: 100%;
}
#pin h3#unpin {
	margin-top: 10px;
	position: absolute;
	width: 100%
}

#parallax {
	margin-bottom: 250px;
	position: relative;
	overflow: hidden;
}
#parallax h3 {
	font-size: 80px;
	text-align: center;
	margin: -40px 0 0 0;
	position: absolute;
	top: 50%;
	width: 100%;
	line-height: 80px;
}
#parallax #parallaxbg {
	position: absolute;
	height: 300px;
	top: 50%;
	width: 100%;
	margin-top: -150px;
	background-image: url("../img/demo_parallax_bg.png");
}
#parallaxbg .top {
	height: 10px;
	width: 100%;
	position: absolute;
	top: 0;
	background-image: url("../img/demo_parallax_shadow_top.png");
}
#parallaxbg .bottom {
	height: 10px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-image: url("../img/demo_parallax_shadow_bottom.png");
}

#info {
	height: auto;
	padding-bottom: 100px;
	text-align: center;
	overflow: hidden;
}

#info h1 {
	margin-bottom: 10px;
}
#info h2 {
	margin-top: 10px;
	display: inline-block;
	position: relative;
}
#info h3 {
	font-size: 30px;
	margin-bottom: 10px;
}
#info h4 {
	font-size: 22px;
	margin-bottom: 10px;
}
#info #content {
	width: 645px;
	text-align: left;
	display: inline-block;
}
#info #sublinecover {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #c7e1ff;
	left: 0;
	top: 0;
}
#info #hatcontainer {
	width: 140px;
	height: 200px;
	position: relative;
	float: left;
}

#info #hatcontainer .hat {
	position: absolute;
	bottom: 10px;
}
#info #hatcontainer #bunny {
	position: absolute;
	bottom: 67px;
	left: 23px;
}
#info #hatcontainer #bunny .eye {
	position: absolute;
	top: 6px;
	left: 30px;
	display: none;
}
#info #hatcontainer #speechbubble {
	position: absolute;
	width: 165px;
	height: 103px;
	background-image: url("../img/demo_bubble.png");
	left: -118px;
	top: -24px;
}
#info ul.nexttohat {
	padding-left: 158px;
}
#speechbubble p {
	margin: 0;
	text-align: center;
	line-height: 22px;
	color: #2e639e;
}
#speechbubble p:first-child {
	font-size: 24px;
	margin-top: 23px;
}
#speechbubble p:last-child {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
a:hover #speechbubble p:last-child {
	text-decoration: underline;
}
#madewith {
	margin-right: -10px;
	margin-bottom: -10px;
}
#madewith a {
	display: inline-block;
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
	width: 150px;
	height: 150px;
	overflow: hidden;
}
#madewith a img {
	width: 100%;
	height: 100%;
	/* For Safari 3.1 to 6.0 */
	-webkit-transition-property: width, height, margin;
	-webkit-transition-duration: 0.15s;
	-webkit-transition-timing-function: linear;
	/* Standard syntax */
	transition-property: width, height, margin;
	transition-duration: 0.15s;
	transition-timing-function: linear;
}
#madewith a::after{
	content: "";
	position: absolute;
	top: -4px;
	bottom: -4px;
	left: -4px;
	right: -4px;
	border: 4px solid white;
	/* For Safari 3.1 to 6.0 */
	-webkit-transition-property: top, bottom, left, right;
	-webkit-transition-duration: 0.15s;
	-webkit-transition-timing-function: linear;
	/* Standard syntax */
	transition-property: top, bottom, left, right;
	transition-duration: 0.15s;
	transition-timing-function: linear;
}
#madewith a:hover img {
	width: 110%;
	height: 110%;
	margin-left: -5%;
	margin-top: -5%;
}
#madewith a:hover::after{
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
html.touch body {
	font-size: 25px;
}
html.touch #info #hatcontainer {
	margin-bottom: 260px;
	height: 300px;
	width: 240px;
}
html.touch #info #hatcontainer .hat {
	left: 90px;
}
html.touch #info #hatcontainer #bunny {
	left: 110px;
}
html.touch #info #hatcontainer #speechbubble {
	left: -20px;
	top: 35px;
}
html.touch #info ul.nexttohat {
	padding-left: 240px;
}