<?js
var data = obj;
var self = this;
?>


<?js if (data.kind === 'package' && (data.name ||data.version)) { ?>
    <h3><?js= data.name ?> <?js= data.version ?></h3>
<?js } ?>

<?js if (data.readme) { ?>
    <section>
        <article><?js= data.readme ?></article>
    </section>
    <style type="text/css">
    	h1.page-title {
    		display: none;
    	}
    	header h2 {
    		display: none;
    	}
    	span.page-title {
    		margin-bottom: 20px;
    	}
    </style>
<?js } ?>
