<?js
var data = obj;
if (data.description) {
?>
<div class="param-desc tag-returns">
    <?js= description ?>
<?js if (data.type && data.type.names) {?>
	{<?js= this.partial('type.tmpl', data.type.names) ?>}
<?js } ?>
</div>
<?js } ?>
